<html ng-app="registrationModule">
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular.js"></script>
    <title>College Registration</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-slate.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/registration-module.js"></script>
    <script src="~/Scripts/angular-route.js"></script>
    @RenderSection("JavascriptInHead", required:false)
</head>
<body>
    @RenderBody()
</body>
</html>
