@model string
@{
    ViewBag.Title = "Registration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section JavascriptInHead
{
    <script src="~/Scripts/Instructors/instructors-controller.js"></script>
    <script type="text/javascript">
        registrationModule.factory('bootstrappedInstructors', function(){
            return {
                instructors: @Html.Raw(Model)
                @*courses: @Html.Raw(Model.Courses),
                instructors: @Html.Raw(Model.Instructors)*@
            };
        });
    </script>
}

<div class="container">
   
    <div class="row">
        <div class="span10">
            <h2>Instructors</h2>
        </div>
        <div class="row">
            <div class="span10">
                <table class="table table-condensed table-hover">
                    <tr>
                        <th>Course</th>
                        <th>Email</th>
                        <th>Room Number</th>
                    </tr>
                    <tr ng-repeat="instructor in instructors">
                        <td>{{instructor.name}}</td>
                        <td>{{instructor.email}}</td>
                        <td>{{instructor.roomNumber}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>